
.opThumbnail {
    width: 150px;
}
.articleList {
    max-width: 100%;
    display: flex;
    justify-content: flex-start; 
} 

.topOP {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#Dark .topOP {
    color: #eef1f3;
}
#Light .topOP {
    color: black;
}
.topOP img {
    margin-left: 10px;
    margin-right: 10px;
}
.location {
    font-weight: bold;
    font-size: 14px;
}
.author {
    font-size: 10px;
    margin-top: -10px;
}
.timeOP {
    margin-left: 15px;
    font-size: 10px;
}
.textOP {
    width: 70%;
}
.mainOP {
    display: flex;
    align-items: flex-start;
}
#Dark .mainOP {
    color: #eef1f3;
}
#Light .mainOP {
    color: black;
}
.mainOP embed {
    margin-right: 30px;
    margin-left: auto;
}
.postTitle {
    font-weight: bold;
    font-size: 18px;
    margin-top: 0px;
}
.postText {
    margin-top: -20px;
    padding: 20px;
}
.postBottom h6 {
    color: #eef1f3;
}
.commentTop {
    display: flex;
    width: 100%;
    height: 30px;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
}
#Dark .commentContainer {
    color: #eef1f3;
}
#Light .commentContainer {
    color: black;
}
.commentBody {
    margin: 0px auto;
    width: 85%;
    padding: 5px;
    font-size: 14px;
    margin-bottom: 10px;
    word-break: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
}
.reply {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.replyIcon img {
    justify-content: center;
    height: 35px;
    width: 65px;
    opacity: 0.3;
}
#Light .replyIcon img {
    filter: drop-shadow(0px 5000px 0 black);
    transform: translateY(-5000px);
}
.replyTop {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.replyTop img {
    margin-left: -10px;
    margin-right: 5px;
}
.replyTop p {
    font-weight: bold;
    font-size: 14px;
}
.replyBody {
    margin-top: -20px;
    font-size: 14px;
    opacity: 0.8;
    word-break: break-word;
    overflow-wrap: break-word;
}
#Dark .reply {
    color:#eef1f3;
}
#Light .reply {
    color:black;
}
.infoBox {
    width: 100%;
    height: 150px;
    background-color: black;
    opacity: 0.8;
    margin-top: 10px;
    border-radius: 20px;
    color:#eef1f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    float: right;
}
.infoBox div {
    margin-bottom: -5px;
    margin-top: 5px;
    margin-left: 20px;
}
.name {
    font-size: 18px;
    font-weight: bolder;
}
.members {
    display: flex;
    flex-direction: column;
}
.memberText {
    margin-top: -15px;
    margin-bottom: 20px;
    font-size: 12px;

}
.commentContainer {
    max-width: 90%;
}
.videoContainer {
    flex-basis: 100%;
}
.mainOP {
    display: flex;
    flex-wrap: wrap; 
  }
  
  .flex-item {
    flex: 1 1 auto; 
  }
  .videoContainer {
    flex-basis: 100%; 
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  .videoOP {
    max-width: 480px;
  }
  .videoContainer .flex-item {
    width: 100%; 
  }
  .loadingHandler {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 0 2px 0 black;
    color: #CCCCCC;
  }
 