.postTop {
    display: flex;
    width: 100%;
    height: 25px;
    justify-content: space-between;
    padding: 5px;
    max-height: 700px;
}
.post {
    width: 100%;
    color: #eef1f3;

}
.thumbnailReplacement, .thumbnail {
    border-radius: 5px;
}
.thumbnailReplacement {
    width: 140px;
    height: 88px;
}
.postMain {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.postMain img {
    margin-left: auto;
}

.postMain video {
    margin-left: 20px;
    width: 350px;
}
.postTitle {
    margin-left: 20px;
}

.postMain p {
    margin-left: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.postbreak {
    width: 95%;
    height: 1px;
    background-color: #3e4142;
    margin: 5px auto;
}