.headerContainer {
    grid-template: 1fr / 0.4fr 1fr 6fr 1fr;
    display: grid;
    width: 100%;
    text-shadow: 0.5px 0.5px #919496;
}
#Dark .headerContainer {
    background-color: #0e1113;
    border-bottom: 1px solid #3e4142;
}
#Light .headerContainer {
    background-color: #fff;
    border-bottom: 1px solid #d3d3d3;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img {
    width: 40px;
    height: 40px;
}
#Dark .title {
    display: flex;
    justify-content: flex-start;
    color: #eef1f3; 
}
#Light .title {
    display: flex;
    justify-content: flex-start;
    color: #ff5d22; 
}
.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchBox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 75%;
    height: 55%;
    border-radius: 5px;
}
#Dark .searchBox {
    background-color: #2a3236;
}
#Light .searchBox {
    background-color: #e5ebee;
}
input:focus {
    outline: none;
}
#Dark .searchBox :hover {
    background-color: #333d42;
}
#Light .searchBox :hover {
    background-color: #f6f8f9;
}
.searchIcon {
    width: 20px;
    margin-left: 10px;
    margin-right: 5px;
    display: flex;
    justify-content: flex-end;
}
#Light .searchIcon {
    filter: drop-shadow(0px 1000px 0 black);
    transform: translateY(-1000px);
}
.subredditSearch {
    background: 0px 0px;
    width: 100%;
    height: 95%;
    border: none;
}
#Dark .subredditSearch {
    color: #eef1f3;
}
#Light .subredditSearch {
    color: black;
}
.toggleContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}

.themeContainer {
    margin-top: -20px;
    margin-left: 10px;
}

.themeLabel {
    width: 65px;
    height: 30px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
        inset 0px -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: 0.3s;
}

.themeLabel:after {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    top: 3px;
    left: 3px;
    background: linear-gradient(180deg, #777, #3a3a3a);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.themeInput {
    width: 0;
    height: 0;
    visibility: hidden;
}

.themeInput:checked + .themeLabel {
    background: #242424;
}

.themeInput:checked + .themeLabel:after {
    left: calc(100% - 3px);
    transform: translateX(-100%);
    background: linear-gradient(180deg, #ffcc89, #d8860b);
}

.themeLabel:active:after {
    width: 30px;
}
