.subContainer img {
    width: 32px;
    height: 32px;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 10px;
}
.subContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: -5px;
}
#Dark .subContainer {
    color: #eef1f3;

}
#Light .subContainer {
    color: black;
}
#Dark .subContainer:hover {
    background-color: #181c1f;
    cursor: pointer;
}
#Light .subContainer:hover {
    background-color: #e5ebee;
    cursor: pointer;
}
.asideTitles {
    letter-spacing: .1em;
    color: lightslategrey;
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.subTitle {
    margin-right: 5px;
}