.subContainer img {
    width: 32px;
    height: 32px;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 10px;
}
.subContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: -5px;
}
#Dark .subContainer {
    color: #eef1f3;

}
#Light .subContainer {
    color: black;
}
#Dark .subContainer:hover {
    background-color: #181c1f;
    cursor: pointer;
}
#Light .subContainer:hover {
    background-color: #e5ebee;
    cursor: pointer;
}
.asideTitles {
    letter-spacing: .1em;
    color: lightslategrey;
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.subTitle {
    margin-right: 5px;
}
.menuTitle {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuTitle button {
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    line-height: 20px;
}
#Dark .menuTitle button {
    font-size: 15px;
    background-color: black;
    color: white;
    border: 1px solid lightslategrey;
}
#Light .menuTitle button {
    border: 1px solid black;
}