* {
  font-family: verdana, Arial, Helvetica, sans-serif;
}
main {
  display: grid;
  grid-template: 1fr / 2.5fr 6fr 2fr;
  background-color: #0e1113;
}
.sidebar {
  height: 1000px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #3e4142;
}
