* {
  font-family: verdana, Arial, Helvetica, sans-serif;
}
main {
  display: grid;
  grid-template: 1fr / 1.75fr 6fr 0.1fr ;
  background-color: #0e1113;
  height: 100%;
}
.sidebar {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #3e4142;
  height: 100%;
}
.articleList {
  display: flex;
}
.articleSide {
  width: 35%;
}
.articleSide img {
  display: none;
}
.articleSide video {
  display: none;
}
.articleSide h6 {
  display: none;
}
.articleSide .postBottom {
  display: none;
}
.articleSide .timestamp {
  display: none;
}
.articleSide .redditInfo {
  margin-left: 5px;
}