* {
  font-family: verdana, Arial, Helvetica, sans-serif;
}
main {
  display: grid;
  grid-template: 1fr / 1.75fr 6fr 1fr ;
  height: 100%;
}
#Dark main {
  background-color: #0e1113;
}
#Light main {
  background-color: #fff;
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 250px;
}
#Dark .sidebar {
border-right: 1px solid #3e4142;
}
#Light .sidebar {
  border-right: 1px solid #d3d3d3;
}
.articleSide img {
  display: none;
}
.articleSide video {
  display: none;
}
.articleSide h6 {
  display: none;
}
.articleSide .postBottom {
  display: none;
}
.articleSide .timestamp {
  display: none;
}
.articleSide .redditInfo {
  margin-left: 5px;
}

/* Media Queries for different screen sizes below */

 /* Extra small devices */
 @media only screen and (min-width: 200px) and (max-width: 600px) {
  .title h2 {
    display: none;
  }
  .headerContainer {
    height: 50px;
  }
  .headerContainer .logo img {
    height: 25px;
    width: 25px;
    margin-left: 5px;
  }
  .searchBox .searchIcon {
    height: 10px;
    width: 15px;
    margin-left: 5px;
  }
  .toggleContainer .themeContainer .themeLabel {
    height: 20px;
    width: 50px;
  }
  .themeContainer .themeLabel:after {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    top: 3px;
    left: 3px;
    background: linear-gradient(180deg, #777, #3a3a3a);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }
  .navbar {
    display: flex;
    justify-content: center;
  }
  .navbar .home, .navbar .popular, .navbar .all {
    margin: 0px 20px;
  }

  #homebutton {
    height: 20px;
    width: 40px;
  }
  #popbutton, #allbutton {
    height: 20px;
    width: 20px;
  }
  main {
    display: grid;
    grid-template: 1fr / 1fr !important;
  }
  .post .postBody {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
 
  .postBody .postImg {
    margin-right: auto;
    padding: 0px;
  }
  .postMain p {
    width: 90%;
  }
  .post .postMain video {
    margin-left: 15px;
  }
  .post .postMain h3 {
    margin-left: 10px;
  }
  .mainOP embed {
    margin-right: auto !important;
    margin-bottom: 20px;
    margin-top: -20px;  
}
 }

 /* Small devices */
 @media only screen and (min-width: 601px) and (max-width: 992px) {
  .title h2 {
    margin-left: 10px;
  }
  .headerContainer .logo {
    margin-left: 5px;
  }
  main .sidebar {
    font-size: 12px;
    min-width: 150px;
  }
  .subMenu .menuTitle button {
    margin-left: 0;
  }
  .menuTitle .asideTitles {
    margin-left: 0px;
    margin-right: 10px;
  }
  .subTitle {
    overflow: hidden;
  }
  main {
    display: flex;
    flex-wrap: wrap;
  }
  main .sidebar {
    flex: 1 0 75%;
    max-width: 25%;
  }
  main .threadDiv {
    flex: 1 0 25%;
    max-width: 75%;
  }
  main .articlesContainer {
    flex: 1 0 25%;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
  main .articleSide {
    flex-basis: 100%;
  }
  .mainOP embed {
    margin-right: auto !important;
    margin-bottom: 20px;
    margin-top: -20px;
  }
 }

 
