.home img {
    width: 65px;
    height: 35px;
    padding: 10px;
    margin-left: -10px;
    margin-right: -10px;
}
.popular img, .all img {
    width: 40px;
    height: 40px;
    padding: 10px;
}

.popular, .all, .home {
    display: flex;
    align-items: center
}
#Dark .popular:hover, .all:hover, .home:hover {
    background-color: #181c1f;
}
#Light .popular:hover, .all:hover, .home:hover {
    background-color: #e5ebee;
}
#Dark span {
    color: #eef1f3;
    text-decoration: none;
}
#Light span {
    color: black;
    text-decoration: none;
}

#Light .home img, #Light .popular img, #Light .all img {
    filter: drop-shadow(0px 1000px 0 black);
    transform: translateY(-1000px);
}