.home img {
    width: 65px;
    height: 35px;
    padding: 10px;
    margin-left: -10px;
    margin-right: -10px;
}
.popular img, .all img {
    width: 40px;
    height: 40px;
    padding: 10px;
}

.popular, .all, .home {
    display: flex;
    align-items: center
}
.popular:hover, .all:hover, .home:hover {
    background-color: #181c1f;
}
span {
    color: #eef1f3;
    text-decoration: none;
}